{% extends 'base.html.twig' %}

{% block title %}Rénitialisation du mot de passe{% endblock %}

{% block body %}
<div class="block">
    <h2 class="pb-20">Inscription</h2>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class="btn btn-primary mr-10">Rénitialisation du mot de passe</button>
    {{form_end(form)}}
</div>
  
{% endblock %}
