<div class="sidebar d-flex flex-column m5 mr-50">
    <button class="btn btn-primary btn-icon-primary">
        <i class="fa-solid fa-question"></i>
        <span>Poser une question</span>
    </button>
    <ul class="sidebar-nav py-20">
        <li class="active">
            <i class="fa-solid fa-house mr-5"></i>
            <a href="">Liste des questions</a>
        </li>
        <li>
            <i class="fa-solid fa-pen mr-5"></i>
            <a href="">Mes questions</a>
        </li>
        <li>
            <i class="fa-solid fa-puzzle-piece mr-5"></i>
            <a href="">Mes réponses</a>
        </li>
    </ul>
</div>