/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-dark);
}
a{
    color: var(--color);
    text-decoration: none;
}
/* THEME */
:root{
    --primary: #12CBC4;
    --primary-light: #e7f9f9;
    --accent: #0652DD;
    --warning: #EA2027;
    --success: #009432;
    --font-family: "Open Sans", sans-serif;;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
    --border-radius: 3px;
    --border: 1px solid var(--gray-light);
    --color: #636466; 
    --color-dark: #444;
    --gray: #636466;;
    --gray-dark: #444;
    --max-width: 1200px;
    --color-primary: white;
    --gray-light: #ecf0f1;
    --footer-background: #0a3d62;
    --font-size-small: 14px;
    --font-size-regular: 16px;
    --font-weigth-regular: 400;
    --font-weigth-semi-bold: 600;
    --font-weigth-bold: 700;

}

/* GENERIQUE */
.app-content{
    background-color: var(--gray-light);
}
.block{
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
}
.form-row{
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}
.form-row label{
    margin-bottom: 5px;
    font-weight: var(--font-weigth-bold);
    color: var(--color-dark);
}
.form-row input, textarea{
    font-family: var(--font-family);
    border: 0;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    background-color: var(--gray-light);
}
.form-row textarea{
    min-height: 120px;
}
.form-errors{
    color: var(--warning);
    font-size: var(--font-size-small);
    font-weight: var(--font-weigth-semi-bold);
}
/* DEBUG */
.b1{
    background-color: red;
}
.b2{
    background: blue;
}
.b3{
    background-color: yellow;
}
.b4{
    background-color: green;
}


/* FLEX */
.d-flex{
    display: flex;
}
.flex-row-nowrap{
    flex-flow: row nowrap;
}
.flex-row-wrap{
    flex-flow: row wrap;
}
.flex-column{
    flex-direction: column;
}
.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: end;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-between{
    justify-content: space-between;
}
.flex-fill{
    flex: 1;
}
/* MARGIN */
.m-5{
    margin: 5px;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-50{
    margin-right: 50px;
}
.mb-20{
    margin-bottom: 20px;
}

/* PADDING */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.py-20{
    padding-bottom: 20px;
    padding-top: 20px;
}
.py-50{
    padding-bottom: 50px;
    padding-top: 50px;
}
.pb-20{
    padding-bottom: 20px;
}
/* GENERAl */
.content{
    max-width: var(--max-width);
}
.btn{
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: none;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
    transition: opacity 0.4s;
}
.btn-small{
    padding: 5px 15px;
}   
.btn-primary{
    background: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}
.btn-primary-stroke{
    border: 1px solid var(--primary);
    color: var(--primary);
    background: white;
}
/* SIDEBAR */
.sidebar{
    min-width: 200px;
}


/* HEADER */
header{
    box-shadow: var(--box-shadow);
}
.header-logo{
    width: 150px;
}
.header-logo img{
    max-width: 150px;
}

.header-search{
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}
.header-search input{
    border: 0;
    outline: 0;
    background: var(--gray-light);
}


/* FOOTER */
footer{
    background: var(--footer-background);
    color: white;
}

/* ASIDE */
.sidebar-nav a{
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-size-small);
    margin-bottom: 5px;
    display: block;
}
.sidebar-nav a:hover{
    opacity: 0.8;
    transition: opacity 0.4s;
}
.sidebar-nav a i{
    color: var(--color-dark);
}
.active{
    border-left: 5px solid var(--primary);
    background-color: var(--primary-light);
}

/* QUESTION */
.question-content{
    border-bottom: 1px solid var(--gray-light);
}

.avatar{
    width: 50px;
    border-radius: 50%;
}
.small{
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}
.cliquable{
    color: var(--primary);
    font-weight: var(--font-weigth-semi-bold);
    cursor: pointer;
}
.block-shadow:hover{
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.4s;
}
.rating-up{
    color: #0652DD;
}
.rating-down{
    color: var(--warning);
}