<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    {% apply inline_css(source('@email_css/welcome.css')) %}
        <h1>vous avez fait une demande de réinitialisaion de mot de passe</h1>
        <p>Pour finaliser la demande, cliquer sur le lien</p>
        <a href="{{ url('reset-password', { token: token }) }}">Changer le mot de passer</a>
    {% endapply %}
</body>
</html>