html{
    font-family: 'Open Sans', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #12CBC4;
    border-radius: 3px;
    display: inline-block;
}