.sidebar{
    min-width: 200px;
}
.sidebar-nav a{
    padding: 10px;
    cursor: pointer;
    font-size: var(--font-size-small);
    margin-bottom: 5px;
    display: block;
}
.sidebar-nav a:hover{
    opacity: 0.8;
    transition: opacity 0.4s;
}
.sidebar-nav a i{
    color: var(--color-dark);
}