*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	font-family: var(--font-family);
	color: var(--color);
}
ul{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	color: var(--color-dark);
}
a{
	color: var(--color);
	text-decoration: none;
}

input[type = "file"]{
	width: 100%;
}