:root{
    --primary: #12CBC4;
    --primary-light: #e7f9f9;
    --accent: #0652DD;
    --warning: #EA2027;
    --success: #009432;
    --font-family: "Open Sans", sans-serif;;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
    --border-radius: 3px;
    --border: 1px solid var(--gray-light);
    --color: #636466; 
    --color-dark: #444;
    --gray: #636466;;
    --gray-dark: #444;
    --max-width: 1200px;
    --color-primary: white;
    --gray-light: #ecf0f1;
    --footer-background: #0a3d62;
    --font-size-small: 14px;
    --font-size-regular: 16px;
    --font-weigth-regular: 400;
    --font-weigth-semi-bold: 600;
    --font-weigth-bold: 700;
    --line-height-hight: 30px;
}